[submodule "deps/kuka_robot_descriptions"]
	path = deps/kuka_robot_descriptions
	url = https://github.com/sshaizkhan/kuka_robot_descriptions.git
[submodule "deps/ur5_description"]
	path = deps/ur5_description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
[submodule "deps/ros2_robotiq_gripper"]
	path = deps/ros2_robotiq_gripper
	url = https://github.com/PickNikRobotics/ros2_robotiq_gripper.git
[submodule "deps/abb_robot_description"]
	path = deps/abb_robot_description
	url = https://github.com/sshaizkhan/abb_robot_description.git
