[global_config]
  suppress_multiple_term_dialog = True
[keybindings]
[profiles]
  [[default]]
    background_color = "#282828"
    cursor_color = "#aaaaaa"
    foreground_color = "#ebdbb2"
    scrollback_infinite = True
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
[layouts]
  [[default]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = True
      fullscreen = False
      size = 1920, 1043
      title = rds_ws
      last_active_term = 98c57428-c453-460c-bc9e-192904735946
      last_active_window = True
    [[[terminal1]]]
      type = Terminal
      parent = child0
      order = 0
      profile = default
      uuid = 98c57428-c453-460c-bc9e-192904735946
  [[gdb]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 383:118
      maximised = False
      fullscreen = False
      size = 734, 452
      title = GDB
      last_active_term = 98c57428-c453-460c-bc9e-192904735946
      last_active_window = True
    [[[terminal1]]]
      type = Terminal
      parent = child0
      order = 0
      profile = default
      uuid = 98c57428-c453-460c-bc9e-192904735946
[plugins]
