<?xml version='1.0' encoding='UTF-8'?>
<robot name="ur5_robot">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.141592653589793"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/visual/base.dae"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.141592653589793"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/collision/base.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="4.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.004433332" ixy="0.0" ixz="0.0" iyy="0.004433332" iyz="0.0" izz="0.007200000"/>
    </inertial>
  </link>
  <link name="shoulder_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.141592653589793"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/visual/shoulder.dae"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.141592653589793"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/collision/shoulder.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="3.7"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.014972352" ixy="0.0" ixz="0.0" iyy="0.014972352" iyz="0.0" izz="0.010406250"/>
    </inertial>
  </link>
  <joint name="shoulder_pan_joint" type="revolute">
    <parent link="base_link"/>
    <child link="shoulder_link"/>
    <origin xyz="0 0 0.089159" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.10966227112321508" upper="0.10966227112321508" effort="150.0" velocity="0.05483113556160754"/>
    <safety_controller soft_lower_limit="0.04033772887678491" soft_upper_limit="-0.04033772887678491" k_position="20" k_velocity="0.0"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>
  <link name="upper_arm_link">
    <visual>
      <origin xyz="0 0 0.13585" rpy="1.5707963267948966 0 -1.5707963267948966"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/visual/upperarm.dae"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.13585" rpy="1.5707963267948966 0 -1.5707963267948966"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/collision/upperarm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="8.393"/>
      <origin xyz="-0.2125 0.0 0.136" rpy="0 1.5707963267948966 0"/>
      <inertia ixx="0.133885782" ixy="0.0" ixz="0.0" iyy="0.133885782" iyz="0.0" izz="0.015107400"/>
    </inertial>
  </link>
  <joint name="shoulder_lift_joint" type="revolute">
    <parent link="shoulder_link"/>
    <child link="upper_arm_link"/>
    <origin xyz="0 0 0" rpy="1.570796327 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.10966227112321508" upper="0.10966227112321508" effort="150.0" velocity="0.05483113556160754"/>
    <safety_controller soft_lower_limit="0.04033772887678491" soft_upper_limit="-0.04033772887678491" k_position="20" k_velocity="0.0"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>
  <link name="forearm_link">
    <visual>
      <origin xyz="0 0 0.0165" rpy="1.5707963267948966 0 -1.5707963267948966"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/visual/forearm.dae"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0165" rpy="1.5707963267948966 0 -1.5707963267948966"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/collision/forearm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.275"/>
      <origin xyz="-0.196125 0.0 0.0165" rpy="0 1.5707963267948966 0"/>
      <inertia ixx="0.031216791" ixy="0.0" ixz="0.0" iyy="0.031216791" iyz="0.0" izz="0.004095000"/>
    </inertial>
  </link>
  <joint name="elbow_joint" type="revolute">
    <parent link="upper_arm_link"/>
    <child link="forearm_link"/>
    <origin xyz="-0.425 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.05483113556160754" upper="0.05483113556160754" effort="150.0" velocity="0.05483113556160754"/>
    <safety_controller soft_lower_limit="0.09516886443839245" soft_upper_limit="-0.09516886443839245" k_position="20" k_velocity="0.0"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>
  <link name="wrist_1_link">
    <visual>
      <origin xyz="0 0 -0.093" rpy="1.5707963267948966 0 0"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/visual/wrist1.dae"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.093" rpy="1.5707963267948966 0 0"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/collision/wrist1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.219"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.002559899" ixy="0.0" ixz="0.0" iyy="0.002559899" iyz="0.0" izz="0.002194200"/>
    </inertial>
  </link>
  <joint name="wrist_1_joint" type="revolute">
    <parent link="forearm_link"/>
    <child link="wrist_1_link"/>
    <origin xyz="-0.39225 0 0.10915" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.10966227112321508" upper="0.10966227112321508" effort="28.0" velocity="0.05483113556160754"/>
    <safety_controller soft_lower_limit="0.04033772887678491" soft_upper_limit="-0.04033772887678491" k_position="20" k_velocity="0.0"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>
  <link name="wrist_2_link">
    <visual>
      <origin xyz="0 0 -0.095" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/visual/wrist2.dae"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.095" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/collision/wrist2.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.219"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.002559899" ixy="0.0" ixz="0.0" iyy="0.002559899" iyz="0.0" izz="0.002194200"/>
    </inertial>
  </link>
  <joint name="wrist_2_joint" type="revolute">
    <parent link="wrist_1_link"/>
    <child link="wrist_2_link"/>
    <origin xyz="0 -0.09465 -1.941303950897609e-11" rpy="1.570796327 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.10966227112321508" upper="0.10966227112321508" effort="28.0" velocity="0.05483113556160754"/>
    <safety_controller soft_lower_limit="0.04033772887678491" soft_upper_limit="-0.04033772887678491" k_position="20" k_velocity="0.0"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>
  <link name="wrist_3_link">
    <visual>
      <origin xyz="0 0 -0.0818" rpy="1.5707963267948966 0 0"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/visual/wrist3.dae"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0818" rpy="0 0 1.5707963267948966"/>
      <geometry>
        <mesh filename="package://moveit_resources_ur_description/meshes/ur5/collision/wrist3.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1879"/>
      <origin xyz="0 0 -0.01725" rpy="0 0 0"/>
      <inertia ixx="0.000084696" ixy="0.0" ixz="0.0" iyy="0.000084696" iyz="0.0" izz="0.000132117"/>
    </inertial>
  </link>
  <joint name="wrist_3_joint" type="revolute">
    <parent link="wrist_2_link"/>
    <child link="wrist_3_link"/>
    <origin xyz="0 0.0823 -1.688001216681175e-11" rpy="1.570796326589793 3.141592653589793 3.141592653589793"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.10966227112321508" upper="0.10966227112321508" effort="28.0" velocity="0.05483113556160754"/>
    <safety_controller soft_lower_limit="0.04033772887678491" soft_upper_limit="-0.04033772887678491" k_position="20" k_velocity="0.0"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>
  <link name="tool0">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
  <joint name="tool0_joint" type="fixed">
    <parent link="wrist_3_link"/>
    <child link="tool0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="panda_hand">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://panda_hand/visual/finger.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://panda_hand/collision/finger.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="panda_hand_joint" type="fixed">
    <parent link="tool0"/>
    <child link="panda_hand"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="panda_leftfinger">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://panda_hand/visual/finger.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://panda_hand/collision/finger.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="panda_finger_joint1" type="prismatic">
    <parent link="panda_hand"/>
    <child link="panda_leftfinger"/>
    <origin xyz="0 0 0.0584" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="0.04" upper="0.1" effort="100" velocity="0.5"/>
  </joint>
  <link name="panda_rightfinger">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966"/>
      <geometry>
        <mesh filename="package://panda_hand/visual/finger.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966"/>
      <geometry>
        <mesh filename="package://panda_hand/collision/finger.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="panda_finger_joint2" type="prismatic">
    <parent link="panda_hand"/>
    <child link="panda_rightfinger"/>
    <origin xyz="0 0 0.0584" rpy="0 0 0"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0.0" upper="0.04" effort="20" velocity="0.2"/>
    <mimic joint="panda_finger_joint1"/>
  </joint>
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
